header {
    justify-content: space-between;
    margin-bottom:20px;
}

.header_menu {
    display: flex;
    justify-content: space-around;
    transform: translateX(-30px);
}

.header_menu_item {
    margin-left: 30px;
}

.header_menu_link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;

}

.header_menu_btn {
    border: none;
    color: black;
    font-weight:bold;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}



.attendance_table{
    margin:0 auto;
    width:80vw;
    height:450px;
    transform:translateY(100px);
}

.attendance_table_row{
    border-top:1px solid black;
}

.attendance_table_row th{
    padding:20px 110px 20px 20px;
    white-space:nowrap;
    text-align:left;
}

.attendance_table_row td{
    padding:20px 110px 20px 20px;
    white-space:nowrap;
}

.bottom_pagination{
    transform:translateY(120px);
}

.top_pagination{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    transform:translateY(60px);
}

.previous_link{
    text-decoration:none;
    color:blue;
    margin-right:30px;
    border:1px solid blue;
    padding:0 10px;
}

.later_link{
    text-decoration:none;
    color:blue;
    margin-left:30px;
    border: 1px solid blue;
    padding:0 10px;
}